* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
    }

    /* background behind text and nav bar */
    body {
      background: url('luxury-suite-bedroom.jpg') no-repeat center center fixed;
      background-size: cover;
      color: white;
    }

    /* NAVIGATION BAR */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      background-color: rgba(0, 0, 0, 0.6);
    }

    /* TRAVELEASE TEXT */
    .siteName {
      font-size: 28px;
      font-weight: 700;
      color: white;
    }



    /* TEXT ON NAVIGATION BAR */
    .menu a {
  position: relative;
  margin: 0 1.2rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

/* TRANSITION ON HOVERING OVER NAVIGATION BAR TEXT */
.menu a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #e91e63;
  left: 0;
  bottom: -6px;
}

/* PINK LINE THAT COMES UNDER NAV BAR TEXT */
.menu a:hover::after{
  width: 100%;
}

/* BOOK NOW BUTTON */
    .book-btn {
      padding: 10px 20px;
      background-color: #ff4081;
      color: white;
      border: none;
      font-weight: 600;
      cursor: pointer;
    }

    /* TRANSITION OF BOOK NOW BUTTON */
    .book-btn:hover{
        background-color: #8a1139;
    }


.bfsText {
    text-align: center;
    color: black;
    font-weight: 900;
}

.breakfast-card {
    background-color: white;
    margin: 5rem;
    padding: 1.5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

.mntText {
    text-align: center;
    color: black;
    font-weight: 900;
}

.mountain-card {
    background-color: rgb(255, 255, 255);
    margin: 5rem;
    padding: 1.5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    max-height: 390px;
}

.wfText {
    text-align: center;
    color: black;
    font-weight: 900;
}

.wifi-card {
    background-color: rgb(255, 255, 255);
    margin: 5rem;
    padding-top: 50px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.services {
  display: flex;
}
